/* Extra Small */
@media(max-width:767px){


}

/* Small */
@media(min-width:768px) and (max-width:991px){

}

/* Medium */
@media(min-width:992px) and (max-width:1199px){

}

/* Large */
@media(min-width:1200px){
 
}

*{
    color: black;
}

body{
    /*when we use the fixed navigation bar, we should give the body of the page an upper margin of 50px,
    so that the top 50px of the page does not get hidden under the navigation bar*/
    padding:60px 0px 0px 0px;
    z-index:0;
    background: #eee;
}

html, body{
    overflow-x: hidden;
}

body > .container{
    padding-top: 30px; /*dont fuck with this*/
}
footer{
    /*background-color: black;*/
    margin-top: 250px;
    height: 250px; 
    background-color: darkgray;
}
footer  p{
    color: black;
}
footer  a, footer a:hover{
    color: black;
    text-transform: capitalize;
}

footer .row{
    padding: 20px 0px;
}

/*social media icons in the footer*/
.fa {
  /*padding: 20px;*/
  font-size: 20px;
  width: 50px;
  /*margin: 0px 2px;*/
  text-align: center;
}
.fa:hover {
    opacity: 0.5;
}

#contact_message{
    resize: none;
}

.navbar-default {
  /*background and background-color are different
  https://stackoverflow.com/questions/10205464/what-is-the-difference-between-background-and-background-color*/ 
  background: white;
}

.breadcrumb{
    /*background-color: hsl(0, 0%, 90%);*/
    background-color: #F5F5F5;
    color: black;
}

.breadcrumb-item a, .breadcrumb-item{
    color: grey;
}
.breadcrumb-item a:hover{
    /*opacity: 0.5;*/
}

/*https://stackoverflow.com/questions/17872913/carousel-indicators-not-showing-up-on-white-background-on-slides-custom-style-o*/
.carousel{
    /*background-color: hsl(0, 0%, 90%);*/
    background: white;
    box-shadow: 1px 1px #DCDCDC;
}
.carousel-inner > .item > div > img{
    height: 300px;
    width: 100%;
    border: 2px solid black;
}
.carousel-indicators li {
  background-color: black;
}

.carousel-indicators .active {
  background-color: black;
}

.modal-content{
    /*background: hsl(0, 0%, 95%);*/
    /*background: #eee;*/
}
#terms_and_conditions{
    font-size: 11px;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.panel > .panel-heading:hover{
    background: hsl(0, 0%, 95%);
}
.panel-title > a:after {
    font-family: "Glyphicons Halflings";
    content: "\e114";
    float: right;
    margin-left: 15px;
    color: grey;
  }
/* Icon when the collapsible content is hidden */
.panel-title > a.collapsed:after {
  content: "\e080";
  color: grey;
}

.table{
    display: block !important;
}

/*This modification adds a 1px border to the tab content which joins with the upper border 
introduced by the tab navigation element to give a clean tab like appearance.*/
#package_1, #package_2, #past_orders, #current_orders{
    margin: 10px; /*to fix the carousel neatly inside the tabs nav*/
}
.carousel-control{
    width: 0px;
    color: black;
}

.progress-bar{
    color: black;
    background-color: grey;
}

.thumbnail a img{
    height: 300px;
    width: 300px;
    box-shadow: 5px 5px 5px #DCDCDC;
}

.thumbnail{
    box-shadow: 5px 5px 5px #DCDCDC;
}

.well{
    background: white;
    box-shadow: 5px 5px 5px #DCDCDC;
}


.border-debug{
    border: 1px solid red;
}

.nav-tabs h3{
    color: black;
}

.jumbotron{
    border: 1px solid blue;
}

a > img:hover{
    opacity: 0.5;
}